[Unit]
Description=Songbeamer Webserver
After=network.target

[Service]
WorkingDirectory=/var/www/songbeamer-wlan
ExecStart=/usr/bin/node /var/www/songbeamer-wlan/server.js
Restart=on-failure
User=www-data
Environment=PORT=80

[Install]
WantedBy=multi-user.target
